[submodule "submodules/sam2"]
	path = submodules/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "submodules/lightglue"]
	path = submodules/lightglue
	url = https://github.com/jytime/LightGlue.git
[submodule "submodules/vggsfm"]
	path = submodules/vggsfm
	url = https://github.com/facebookresearch/vggsfm
[submodule "submodules/hloc"]
	path = submodules/hloc
	url = https://github.com/cvg/Hierarchical-Localization
[submodule "submodules/SuperGluePretrainedNetwork"]
	path = submodules/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork
[submodule "submodules/hamer"]
	path = submodules/hamer
	url = https://github.com/geopavlakos/hamer
[submodule "submodules/openshape"]
	path = submodules/openshape
	url = https://huggingface.co/OpenShape/openshape-demo-support
[submodule "submodules/diff-surfel-rasterization"]
	path = submodules/diff-surfel-rasterization
	url = https://github.com/hbb1/diff-surfel-rasterization/
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/manopth"]
	path = submodules/manopth
	url = https://github.com/hassony2/manopth
[submodule "submodules/hold"]
	path = submodules/hold
	url = https://github.com/zc-alexfan/hold
